*{
			box-sizing: border-box;
		}

	body{
		background-color: lightblue;
	}

	.navbar-header{
		font-family: 'Lora', serif;
  		color: #559d3e;
  		font-size: 1.0em;
 	 	text-transform: uppercase;
  		font-weight: bold;
  		text-shadow: 1px 1px 1px #244;
  		margin-top: 0;
  		margin-bottom: 0;
  		line-height: .75;
	}
	.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  		border: 1px solid #45125f;
	}

	.navbar-header button.navbar-toggle {
  		clear: both;
  		margin-top: -50px;
	}
	#nav-list {
  		margin-top: 10px;
	}

	#nav-list a{
		text-align: center;
		color: black;
	}
	#nav-list a:hover, a:active, a:focus{
		background-color: lightgray;
		color:#8fa500;
	}
	#nav-list a span {
  		font-size: 1.2em;
	}

	#header-nav {
 	 background-color: #f6b399;
 	 border-radius: 5px;
	 border: 0;
	}
	p{
		margin-top: 20px;
		color: black;
		font-size: 100%;
		margin-left: 10px;
		margin-right: 10px;
	}

	h1{
		text-align: center;
		font-size: 30px;
		font-family: helvetica;
		margin-bottom: 30px;
		
	}

	#divsetting{
		width:90%;
		background-color: #67fb47;
		margin-left: auto;
		margin-right: auto;
		border:1px solid black;
		margin-bottom: 20px;
		position: relative;
	}
	
	#beef{
		width:90%;
		background-color: #67ff89;
		margin-left: auto;
		margin-right: auto;
		border:1px solid black;
		margin-bottom: 30px;
		position: relative;

	}
	#first{
		width:90%;
		background-color: #67A769;
		margin-left: auto;
		margin-right: auto;
		border:1px solid black;
		margin-bottom: 30px;
		position: relative;
	}

	.p2{
		float:center;
		text-align: center;
		margin-top: 10px;
		color: solid black;
		font-weight: bold;
	}

	.first .p1{
		position:static;
		width:70px;
		height: 25px;
		top:50px;
		left: 5px;
		float:center;
		left:50px;
		text-align: center;
		font-size: 120%;
	}